<a id="nav"></a>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
<a class="navbar-brand" href="#"><img src="/assets/mountain2.svg" width="60" height="60" alt="">
  14eener Fever</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ng-click="toggleAboutModal()" data-toggle="modal" data-target=".bd-example-modal-lg" class="nav-link disabled" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="climbers" href="#climbers" ng-click="ctrl.showClimbers();">Climbers</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="./ascensions.html">Ascents</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" ng-click="ctrl.getSummits();" href="#summits" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        14ers
      </a>

      <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdownMenuLink">

            <a ng-repeat="summitIndex in ctrl.summitIndex track by $index" value="{{summit}}" class="dropdown-item"
            href="#summits">
            {{ctrl.currentSummit.name}}</a>

      </div>
    </li>

<li class="nav-item">
        <div ng-if="ctrl.loggedIn==false" id="authForms">
          <a ng-click="ctrl.displayReg=!ctrl.displayReg" class="nav-link"  id="reg" style="color: #331f00;">Register</a>
          <div ng-if="ctrl.displayReg==true">
            <form ng-submit="ctrl.createUser(userPass)">
              <input type="text" ng-model="userPass.username" placeholder="username"/>
              <input type="password" ng-model="userPass.password" placeholder="password"/>
              <input class="btn btn-dark" type="submit"/>
            </form>

          </div>
        </div>
      </li>


      <li class="nav-item">
        <div ng-if="ctrl.loggedIn==false" id="authForms">
          <a ng-click="ctrl.displayLog=!ctrl.displayLog" class="nav-link" id="reg" style="color: #331f00;">Login</a>
          <div ng-if="ctrl.displayLog==true">

            <form ng-submit="ctrl.login(userPass);">
              <input type="text" ng-model="userPass.username" placeholder="Username"/>
              <input type="password" ng-model="userPass.password" placeholder="Password"/>
              <input class="btn btn-dark" type="submit"/>
            </form>
          </div>
          </div>
      </li>



    <div ng-if="ctrl.loggedIn==true" id="logoutDiv">
      <p style="color: black;">  Climber: {{ ctrl.user.username }} </p>
      <a ng-click="ctrl.logout();" id="logout">Log Out</a>
    </div>
  </div>


</ul>


<div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>
